* {
  box-sizing: border-box;
}
main{
    background-color: rgb(200, 217, 233);
    background-image: linear-gradient(rgb(209, 222, 235),rgb(163, 206, 246));
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    margin-top: 64px;
}
.box {
    overflow: hidden;
    background-color: white;
    color: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 300px;
    margin:30px;
    border-radius: 25px;
    border: 3px solid rgb(196, 208, 247);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.6s ease;
    margin-right: -300px;
}


.box:nth-of-type(even) {
    overflow: hidden;
    background-color: white;
    color: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 300px;
    margin:30px;
    border-radius: 25px;
    border: 3px solid rgb(196, 208, 247);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transform: translateX(-400%);
    margin-left: -300px;
}

.box.show {
  transform: translateX(0);
}

.imghid{
    overflow: hidden;
}
.part1 .img{
    background-image: url(fanjpg/1.png);
}
.part2 .img{
    background-image: url(fanjpg/2.jpg);
}
.part3 .img{
    background-image: url(fanjpg/3.jpg);
}
.part4 .img{
    background-image: url(fanjpg/4.jpg);
}
.part5 .img{
    background-image: url(fanjpg/5.jpg);
}
.part6 .img{
    background-image: url(fanjpg/6.jpeg)
}
.part7 .img{
    background-image: url(fanjpg/7.png);
}
.part8 .img{
    background-image: url(fanjpg/8.jpg);
}
.box .img{
    height: 300px;
    width: 500px;
    background-size: cover;
    transition: all 0.5s ease 0s;
    opacity: 0.8;
}

.box .img:hover{
    transform: scale(1.2);
}
.box .txt{
    height: 310px;
    width: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.box.txt:hover
{
    transform: matrix(200px);
}

.box .txt h1{
    font-size: 2em;
    font-family: FZYaoti;
    color: rgb(28, 44, 68);
    height: 30px;
    line-height: 80px;    
    padding-top: 15px;
    text-align: center;
}


.box .txt p.one{
    font-family:YouYuan;
    color: rgb(114, 182, 202);
    margin: 65px 30px 5px 30px;
}
.box .txt p.two{
    font-family:YouYuan;
    color: rgb(114, 182, 202);
    margin: 5px 30px 5px 30px;
}