*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes clear{
    0%{opacity: 0;}
    100%{opacity: 0.8;}
}
img.a{
    width: 100%;
    position: relative;
    text-align:center; 
    display:table-cell;
    margin-top: -35px;
}

div.one{
    width: 1400px;
    position: absolute;
    justify-content: center;
    float: none;
    text-align:center; 
    bottom: 45%;;
}
h2{
    text-align:center; 
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 270px;
}
h2 span{
    transition: 0.5s;
}
h2:hover span:nth-child(1){
    margin-right: 10px;
}
h2:hover span:nth-child(2){
    margin-left: 40px;
}
h2:hover span{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                0 0 20px #fff,
                0 0 40px #fff,
                0 0 80px #fff,
                0 0 120px #fff,
                0 0 140px #fff;
                
}
.two{
    position:absolute ;
    bottom:0;
    width: 1448px;
    height: 200px;
    background-image: linear-gradient(transparent,rgb(200, 217, 233));
    margin-right: -10px;
    margin-left: -25px;
}
.three{
    opacity: 0.8; 
    width:100px; 
    height:50px;
    position: fixed;
    border-radius: 30px; 
    border: 2px solid rgb(149, 163, 206); 
    background-color: rgb(248, 249, 252);
    bottom: 5%; 
    right: 5%; 
    padding-top: 8px; 
    padding-left: 8px; 
    z-index: 11;
    box-shadow: 0 0 10px  rgb(131, 143, 180);
}
.three:hover{
    transform: scale(1.1);
}
.text{
    display: inline-block;
    border-left:  10px solid;    
    border-top: 10px solid;
    width: 80px;
    height: 80px;
    border-color:white; 
    transform:rotate(-135deg); 
    position: relative;
    animation-name: go;
    animation-duration:1s;
    animation-iteration-count: infinite;
}
@keyframes go{
    0%{top: 0px;}
    50% {top: 10px;}
    100% {top: 0px;}
}


.main{
    scroll-snap-type: y mandatory;
    width: 100%;
    overflow: hidden;
    background-color: rgb(200, 217, 233);
    background-image: linear-gradient(rgb(200, 217, 233),rgb(163, 206, 246));
}

.sec{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

.imghid{
    overflow: hidden;
}
.pt{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 250px;
    float: left;
    margin: 100px 30px 0 65px;
    background: rgba(219, 235, 241,0.8);
    box-shadow: 0 0 15px rgb(59, 73, 95);
    border-radius: 15px;
    overflow: hidden;
    scroll-snap-align: start;
    transition: all 0.5s ease 0s;
}
.pt:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.part1 .img{
    background-image: url(4.jpg);
}
.part2 .img{
    background-image: url(5.jpg);
}
.part3 .img{
    background-image: url(6.jpg);
}
.part4 .img{
    background-image: url(7.jpg);
}

.pt .img{
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: -5px -20px;
    transition: all 0.5s ease 0s;
    opacity: 0.8;
}

.pt .img:hover{
    transform: scale(1.2);
}

.pt .txt{
    height: 310px;
    width: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.pt .txt h1{
    text-align: center;
    font-size: 3em;
    font-family: STHupo;
    color: rgb(28, 44, 68);
    height: 30px;
    line-height: 80px;
    margin-bottom: 50px;
}

.pt .txt p{
    word-wrap: break-word;
    color: rgb(114, 182, 202);
}
@keyframes load{
    0%{
        background-position-y: 50px;
        opacity: 0;
    }
    100%{
        background-position-y: 0px;
        opacity: 1;
    }
}

.loader {
    height: 90px;
    display: flex;
    transform: rotate(180deg);
    float: none;
    text-align:center; 

}

.loader span {
    width: 40px;
    margin: 0 3px;
    border-radius: 0 0 4px 4px;
    animation: loading 2s infinite;
}

@keyframes loading {

    0%, 100% {
        height: 10px;
        background: #ffd166;
    }

    25% {
        height: 90px;
        background: #06d6a0;
    }

    50% {
        height: 40px;
        background: #118ab2;
    }

    75% {
        height: 90px;
        background: #4c97ff;
    }

}

.loader span:nth-child(1) {
    animation-delay: .2s;
}

.loader span:nth-child(2) {
    animation-delay: .4s;
}

.loader span:nth-child(3) {
    animation-delay: .6s;
}

.loader span:nth-child(4) {
    animation-delay: .8s;
}
.loader span:nth-child(5) {
    animation-delay: .1s;
}
.loader span:nth-child(6) {
    animation-delay: .3s;
}
.loader span:nth-child(7) {
    animation-delay: .5s;
}
.loader span:nth-child(8) {
    animation-delay: .7s;
}
.loader span:nth-child(9) {
    animation-delay: .9s;
}
.loader span:nth-child(10) {
    animation-delay: .1s;
}

footer{
    background-color: rgb(124, 170, 214);
    height: 300px;
    padding-left: 80px;
    padding-top: 20px;
}
.c1{
    font-size: 5px;
    text-align: center; 
    color: rgb(222, 222, 222);
    margin-top: 20px;
}



